.InfoItem-container2{
    border-radius: 20px;
    padding: 10px;
    /* background-color: rgb(0, 0, 255, 0.3); */
    background-image: linear-gradient(to left,rgba(5, 5, 36, 0.8), rgb(0, 0, 255, 0.7));
    margin-bottom: 25px;
    width: 100%;
    box-shadow: 0 5px 5px rgba(5, 5, 36, 0.5);
}

.InfoItem-container2:last-child{
    margin-bottom: 0;
}


.date-container2 .day{
    color: white;
    /* color: #dbbf20; */
    /* color: #D9D9D9; */
    /* color: #c2aa23; */
    font-size: 2.2rem;
    font-weight: bold;
    /* height: 30%; */
    text-align: center;
}
.temp{
    background-color: #D9D9D9;
    /* padding: 5px 10px; */
    border-radius: 25px;
    color: blue;
    font-size: 2.4rem;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    box-shadow: 0 0px 5px inset blue;
    font-family: "Cairo-ExtraBold";
}

.temp p {
    margin-top: 15px !important;
}

.card-footer{
    height: 70%;
    width: 100%;
    padding: 0 0 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-container img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    
}


@media only screen and (max-width: 600px){
    .InfoItem-container2{
        border-radius: 5px;
        margin-bottom: 15px;
    }
    
    
    .date-container2 .day{
        font-size: 0.8rem;
    }
    .temp{
        border-radius: 5px;
        font-size: 1rem;
        padding: 0 !important;
    }
    
    .temp p {
        margin: 0px !important;
    }
    
    .card-footer{
       
        padding: 0 0 0 0px;
        
    }
    
    .card-footer .icon-container{
        padding: 0 !important;
    }
    .icon-container img{
        width: 40px;
        height: 40px;
        
    }
}