.img-container{
    position: relative;
}

.img-container img{
    object-fit: cover ;
}

.info-container{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 5%;
    left: 40%; 
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* display: flex; */
}

.items{
    height: calc(100% - 100px);
}

.city-name-container{
    height: 75px;
}

.city-name{
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Cairo-Bold";
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: black;
    line-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    
}

.city-name img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.InfoItem-container{
    /* border-radius: 40px; */
    /* padding: 40px; */
}


.card{
    /* background-color: rgba(41, 52, 57, 0.29); */
    background-color: rgb(0, 0, 255, 0.3);
    border-radius: 20px;
}

.date-container{

}
.day{
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 2rem;
}

.min-temp, .max-temp{
    background-color: #D9D9D9;
    /* padding: 5px 10px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blue;
    font-size: 1.5rem;
    font-weight: bold;
}

.icon-container img{
    width: 80px;
    height: 80px;
}

.periods-container{
    color: #fff;
    /* background-color: rgb(217, 217, 217); */
    font-size: 1.3rem;
}



.divider{
    height: 250px;
    width: 2px;
    /* background-color: #D9D9D9; */
    background-color: rgb(217, 217, 217);
}

.period-name p{
    padding: 3px 50px;
    /* background-color: #D9D9D9; */
    background-color: rgb(217, 217, 217);
    color: black;
    text-align: center;
    font-size: 1.3rem;
    
}

.city-temp{
    display: flex;
    align-items: center;
}

.city-temp img{
    width: 30px;
    height: 30px;
    object-fit: contain !important;
}



/* ************************************* */
