.img-container{
    position: relative;
}
.row{
    --bs-gutter-x: 0 !important;
}

.img-container .city-img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover ;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.15);
}

.big-card{
    padding: 0 !important;
    padding-left: 45px !important;
}
.info-container{
    /* position: absolute; */
    width: 60%;
    height: 50%;
    transform: translate(50%, 5%);
    /* overflow: hidden; */
    flex-direction: column;
    justify-content: space-between;
    /* top: 5%;
    left: 30%; */
}

.items{
    /* height: calc(100% - 100px); */
    /* height: 110% !important; */
    flex: 1;
}

.city-name-container{
    height: 75px;
    margin-bottom: 1rem !important;
}

.city-name{
    width: 100%;
    text-align: center;
    color: #FDD807;
    font-family: "Almarai-Bold";
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #003550;
    line-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    position: relative;
}

.city-name::after{
    content: "";
    width: 35px;
    height: 35px;
    border-top: 5px solid #FDD807;
    border-left: 5px solid #FDD807;
    position: absolute;
    top: 5px;
    left: 5px;
}
.city-name::before{
    content: "";
    width: 35px;
    height: 35px;
    border-bottom: 5px solid #FDD807;
    border-right: 5px solid #FDD807;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.city-name img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.card{
    background-color: transparent;
    /* background-image: linear-gradient( rgba(18, 18, 70, 0.9) ,rgb(0, 0, 255, 0.9)); */
    background-image: linear-gradient( #003651 ,#83c3d3);
    /* background-image: linear-gradient(to top, rgba(69, 39, 139, 0.8) ,rgba(49, 43, 91, 0.8)); */
    /* box-shadow: -10px -10px inset rgba(5, 5, 36, 0.8); */
    border-radius: 20px;
    line-height: 1;
    /* padding-top: 20px; */
}

.card .all-day{
    height: 85%;
    /* padding-top: 20px !important; */
}

@keyframes  cardAnimation {
    from{
        transform: scale(1, 0);
    }
    to{
        transform: scale(1, 1);
    }
}

.day{
    font-weight: bold;
    color: white;
    /* color: #c2aa23; */
    text-align: center;
    font-size: 2.3rem;
    position: relative;
}

/* .day::after{
    content: "";
    width: 200px;
    height: 3px;
    background-color: #FDD807;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
} */

.sigle-period-container{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
}
.sigle-period-container > div {
    flex: 1;
    overflow: hidden !important;
}

.sigle-period-container .Phenomena-name-container {
    /* flex: 1.2; */
    line-height: 1.19;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sigle-period-container > div .weather-icons{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sigle-period-container > div p:not(.period-name p){
    width: 100%;
    height: 100%;
}

.sigle-period-container .period-name{
    flex: 0.7;
}

.divider{
    height: 400px;
    width: 3px;
    /* background-color: rgb(217, 217, 217); */
    background: linear-gradient(to bottom, rgba(217, 217, 217, 0.2), rgba(217, 217, 217, 0.4));
}


.icon-container img{
    width: 80px;
    height: 80px;
    object-fit: fill;
}

.temperatureIcon{
    width: 60px !important;
    height: 60px !important;
    object-fit: fill !important;
}

.periods-container{
    color: #fff;
    height: 75%;
}


.period-name p{
    padding: 3px 50px;
    background-color: rgb(217, 217, 217);
    /* background-color: #FDD807; */
    /* background-color: #c2aa23; */
    color: black;
    text-align: center;
    font-size: 1.7rem;
    
}

.Phenomena-name{
    font-size: 2.5rem;
    /* line-height: 1; */
    text-align: center;
}

.Phenomena-name .rain-percentage{
    font-size: 1.7rem; 
    /* color: #ddcd6f; */
    color: #FDD807
}
.Phenomena-name .raining-weight{
    font-size: 1.7rem; 
    /* color: #ddcd6f; */
    /* color: #333; */
    color: #FDD807;

    
}


.min-temp, .max-temp{
    background-color: #D9D9D9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blue;
    font-size: 3.2rem;
    font-weight: bold;
}

.city-temp, .city-wind{
    display: flex;
    align-items: center;
}

.city-temp img, .city-wind img{
    width: 45px;
    height: 45px;
    object-fit: contain !important;
}

.wind-icon{
    width: 40px !important;
    height: 40px !important;
    object-fit: cover !important;
    margin-right: 5px;
}
.city-temp span{
    font-size: 3.3rem;
    font-weight: bold;
}
.city-wind span{
    font-size: 3rem;
    font-weight: bold;
}

.note{
    text-align: right;
    /* color: #FDD807;  */
    color: blue; 
    font-size: 2rem; 
    /* fontWeight:bold */
    /* font-family: "Almarai-Bold"; */
    font-family: "Almarai-ExtraBold";
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
}


/* ************************************* */

 @media only screen and (max-width: 600px) {
    .info-container{
        width: 90%;
        height: 50%;
        top: 3%;
        left: 5%;
    }
    
    .city-name-container{
        height: 45px;
    }
    
    .city-name{
        font-size: 1.3rem;
        line-height: 25px;
    }
    
    .city-name::after{
        width: 15px;
        height: 15px;
        border-top: 2px solid #FDD807;
        border-left: 2px solid #FDD807;
        top: 2px;
        left: 2px;
    }
    .city-name::before{
        width: 15px;
        height: 15px;
        border-bottom: 2px solid #FDD807;
        border-right: 2px solid #FDD807;
        bottom: 2px;
        right: 2px;
    }
    
    .city-name img{
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }

    .card{
        border-radius: 10px;
    }

    .date-container{
        margin: 0 !important;
        height: 10%;
    }
    
    .day{
        font-size: 0.9rem;
    }

    .icon-container img{
        width: 40px !important;
        height: 40px !important;
    }
    
    .temperatureIcon{
        width: 40px !important;
        height: 40px !important;
    }
    
    .divider{
        height: 200px;
    }
    
    .period-name p{
        padding: 1px 10px;
        font-size: 0.7rem;
        
    }
    
    .Phenomena-name{
        font-size: 0.9rem;

    }
    
    .Phenomena-name .rain-percentage{
        font-size: 1rem; 
    }
    .Phenomena-name .raining-weight{
        font-size: 0.9rem; 
    }

    .min-temp, .max-temp{
        border-radius: 2px;
        font-size: 1rem;
    }
    
    .city-temp img, .city-wind img{
        width: 20px !important;
        height: 30px !important;
        object-fit: contain !important;
    }
    .city-temp span{
        font-size: 1.7rem;
    }
    .city-wind span{
        font-size: 1.3rem;
        /* margin-right: 5px; */
    }
    
    .note{
        font-size: 0.8rem; 
    }
}