.bg{
    width: 100%;
    height: 100%;
    position: relative;
}

.bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    top: 5%;
    right: 2%;
    width: 60%;
    background-color: rgb(0, 0, 255, 0.6);
    padding: 20px;
    color: white;
    font-size: 2rem;
    /* font-family: "MarkaziText-Bold"; */
    font-family: "Almarai-Bold";
    box-shadow: 0px -5px 10px inset rgb(230, 230, 236);
}

.head{
    width: calc(100% + 70px);
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: black;
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
    transform: translateX(20px);
    padding-left: 30px;
}

.head::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 15px solid;
    top: 100%;
    bottom: 0;
    left: 0;
    border-top-color: black;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: black;
}

.state-list{
    list-style-type: none;
    overflow: hidden;
    height: 0;
    animation-name: state-list-anmi;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes state-list-anmi {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.state-list li{
    margin-bottom: 35px;
    border-bottom: 2px solid rgb(230, 230, 236);
}

.state-list li:last-child{
    margin-bottom: 0 !important;
    border-bottom: none;
}
.state-list li p{
    margin-bottom: 0 !important;
    font-weight: bold;
    font-size: 2.3rem;
}

.hint{
    color: #FDD807;
}
.state{
    /* transform: translateY(-50px); */
    opacity: 0;
}
.animate-0{
    animation-name: animate;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
.animate-1{
    animation-name: animate;
    animation-duration: 3s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}
.animate-2{
    animation-name: animate;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}
.animate-3{
    animation-name: animate;
    animation-duration: 3s;
    animation-delay: 10.5s;
    animation-fill-mode: forwards;
}
.animate-4{
    animation-name: animate;
    animation-duration: 3s;
    animation-delay: 14s;
    animation-fill-mode: forwards;
}

@keyframes animate {
    from{
        /* transform: translateY(-50px); */
        opacity: 0;

    }
    to{
        /* transform: translateY(0); */
        opacity: 1;
    }
}