.header-container{
    width: 100%;
    height: 100px;
    background-color: blue;
    font-family: Cairo-Bold;
    padding-left: 30px;
    
}

.name{
    font-weight: bold;
    font-size: 3.5rem;
    color: white;
}

.ema-name{
    color: #FDD807;
    font-size: 2.5rem;
    /* font-family: "Lateef-Bold"; */
    font-family: "Gulzar-Regular";

}