.map-img-outer-container{
    width: 100% !important;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/bg/bgSix.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.map-img-inner-container{
    width: 70% !important;
    height: 90%;
    border: 8px solid black;
}

.map-img-inner-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.slick-slide{
    position: relative;
}
.slick-dots{
    left: 8%;
    bottom: 52% !important;
    text-align: start !important;
    /* border: 1px solid; */
    display: block;
    width: 70px !important;
    padding: 0 !important;
    margin: 0 !important;
}
.slick-dots li {
    width: 70px !important;
    height: 70px !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.slick-dots li.slick-active{
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 3px black;
}

.slick-dots li:last-child {
    margin-bottom: 0 !important;
}

.slick-dots img{
    width: 100%;
    height: 100%;
}

.arrow-controller{ 
    text-align: center; 
    position: absolute; 
    top: 50%; 
    left: 5.5%; 
    display: flex; 
    align-items:  center; 
    flex-direction:  row  
}