.sidebar-container{
    background-color: rgb(192, 192, 226);
    position: absolute;
    left: 60%;
    bottom: -7px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 25px;
/*     display: none; */
}

.sidebar-item{
    background-color: rgb(168, 168, 202);
    width: 100px;
    text-align: center;
    margin-right: 10px;
}

.sidebar-item img{
    width: 55px;
    height: 55px;
}

.toggle-icon{
    position: absolute;
    top: -58px;
    left: 50%;
    transform: translateX(-50%);
}
