body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  box-sizing: border-box;
}

@font-face {
  font-family: "Cairo-Bold";
  src: local("Cairo-Bold"),
   url("./fonts/Cairo-Bold.ttf") format("truetype");
  font-weight: bold;
  }
@font-face {
  font-family: "Cairo-ExtraBold";
  src: local("Cairo-ExtraBold"),
   url("./fonts/Cairo-ExtraBold.ttf") format("truetype");
  /* font-weight: bold; */
  }
@font-face {
  font-family: "Lateef-Bold";
  src: local("Lateef-Bold"),
   url("./fonts/Lateef-Bold.ttf") format("truetype");
  font-weight: bold;
  }
@font-face {
  font-family: "Gulzar-Regular";
  src: local("Gulzar-Regular"),
   url("./fonts/Gulzar-Regular.ttf") format("truetype");
  font-weight: bold;
  }
@font-face {
  font-family: "MarkaziText-Bold";
  src: local("MarkaziText-Bold"),
   url("./fonts/MarkaziText-Bold.ttf") format("truetype");
  font-weight: bold;
  }
@font-face {
  font-family: "Almarai-Bold";
  src: local("Almarai-Bold"),
   url("./fonts/Almarai-Bold.ttf") format("truetype");
  font-weight: bold;
  }

