.docComponent-container{
    background-image: url('../../images/bg/img/flash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    direction: rtl !important;
    overflow: hidden !important;
}
.slick-slider, .slick-list{
    width: 100%;
    height: 100%;
}

.slick-track{
    height: 100% !important;
}

.slick-slide > div {
    height: 100%;
    width: 100%;
}

.outer-doc-container{
    width: 100%;
    height: 100%;
    /* background-color: #f7f7f7; */
    direction: rtl !important;
    position: relative;
    overflow: auto !important;
}


/* ============================doc-text-overlay=================== */
.doc-text-overlay{
    width: 70%;
    position: absolute;
    top: 10%;
    right: 4%;
    direction: rtl;
    color: rgb(230, 230, 236);
}

.img-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1, 1);
    /* animation-name: bgScale; */
    animation-duration: 6s;
    animation-fill-mode: forwards;
    transform-origin: 65% 25%;
}

.img-bg img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@keyframes bgScale {
    from{
        transform: scale(1, 1);
    }

    to{
        transform: scale(2, 2);
        
    }
    
}

.doc-text-overlay .header{
    display: flex;
    align-items: center;
    color: #fff;
}
.slick-slide.slick-active.slick-current .doc-text-overlay .header .title{
 background-color: blue;
 height: 80px;
 line-height: 80px;
 font-size: 2.7rem;
 font-family: "Almarai-Bold";
 /* width: 570px; */
 padding: 0 20px !important;
 text-align: center;
 transform: translateX(-500px);
 animation-name: trnaslateTitle;
 animation-duration: 1.5s;
 animation-fill-mode: forwards;
 animation-delay: 1s;
}

@keyframes trnaslateTitle {
    from{
        transform: translateX(-500px);
    }
    to{
        transform: translateX(0);

    }
}

.doc-text-overlay .header .sub-title{
 background-color: #444;
 font-size: 2.5rem;
 width: 450px;
 text-align: center;
 font-family: "MarkaziText-Bold";
}

.slick-slide.slick-active.slick-current .doc-text-overlay .doc-text-body{
 list-style-type: none;
 padding: 20px 40px;
 background-image: linear-gradient(to left, rgb(22, 8, 83), rgba(15, 36, 156, 0.3));
 animation-name: doc-text-body-showen;
 animation-duration: 2s;
 animation-fill-mode: forwards;
 animation-delay: 1.5s;
 /* opacity: 0; */
 transform: scale(0, 0);
 transform-origin: right top;
}

@keyframes doc-text-body-showen {
    from{
        transform: scale(0, 0);
    }
    to{
        transform: scale(1, 1);
    }
}

.slick-slide.slick-active.slick-current .doc-text-overlay .doc-text-body li{
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 3rem;
    font-family: "Almarai-Bold";
    border-bottom: 3px solid #f8edd5;
    animation-name: li-showen;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;

}
.doc-text-overlay .doc-text-body li:last-child{
    border-bottom: none;
    margin-bottom: 0;
}

@keyframes li-showen {
    from{
       opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.slick-dots{
    max-width: fit-content !important;
    height: 80px;
    right:50%;
    top: calc(100vh - 190px);
    /* bottom: 5px; */
    transform: translateX(50%);
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
    margin-right: 15px !important;
    background-color: rgb(70, 98, 187);
    padding: 10px 50px !important;
    border-radius: 35px;
}
.slick-dots li {
    width: 60px !important;
    height: 60px !important;
    margin: 0 !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    border: none !important;
    background-color: #c8dcf0;
    transform: 0.2s;
}

.slick-dots li.slick-active{
    /* border: 2px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 3px black; */
    width: 80px !important;
    height: 65px !important;
    border: 0 !important;
}

.slick-dots li:last-child {
    margin-bottom: 0 !important;
}

.slick-dots img{
    width: 100%;
    height: 100%;
}


/* ============================case-maps=================== */

.case-maps-container{
    width: 100% !important;
    height: 100%;
    background-color: #f7f7f7;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    /* border: 3px solid #000; */
}

.inner-doc-container{
    width: 100%;
    height: 100%;
    background-color: #f8edd5;
}

.case-maps-container .map-img-outer-container{
    width: 49.7% !important;
    height: 49% !important;
    /* border: 3px solid rgba(0, 0, 0, 0.5); */
    
}


.case-maps-container .map-img-outer-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.case-maps-container .map-img-outer-container.not-img-full-screen{
    /* animation-name: not-img-full-screen-animi;
    animation-duration: 1s;
    animation-fill-mode: forwards; */
    width: 0 !important;
    height: 0 !important;
    /* width: 49.7% !important;
    height: 49% !important; */
}

.slick-slide.slick-active.slick-current .zoomIn{
    /* transform: scale(2); */
    transform: scale(1);
    animation-name: zoomInAnimi;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.slick-slide.slick-active.slick-current .zoomOut{
    /* transform: scale(1); */
    animation-name: zoomOutAnimi;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes zoomInAnimi {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.75);
    }
}
@keyframes zoomOutAnimi {
    from{
        transform: scale(1.75);
    }
    to{
        transform: scale(1);
    }
}


.case-maps-container .map-img-outer-container.img-full-screen{
    width: 100% !important;
    height: 100% !important;
    /* position: absolute;
    top: 0;
    left: 0; */
    animation-name: img-full-screen-animi;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes img-full-screen-animi {
    from{
        width: 49.7% !important;
        height: 49% !important;
    }
    to{
        width: 100% !important;
        height: 100% !important;
    }
}

@keyframes not-img-full-screen-animi {
    from{
       
        width: 49.7% !important;
        height: 49% !important;
    }
    to{
        width: 0 !important;
        height: 0 !important;
    }
}

.window-icon{
    position: absolute;
    bottom: 80px;
    left: 47%;
    z-index: 20000;
}


/* ============================egy-map=================== */

.egy-map-container{
    width: 100% !important;
    height: 100% !important;
    position: relative;
}
.egy-map-container img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.day-container{
    position: absolute; 
    top: 20px; 
    right: 0px; 
    z-index: 40000;
    background-color: #444;
    font-size: 3rem;
    width: 0px;
    height: 93px;
    /* line-height: 90px; */
    overflow: hidden;
    text-align: center;
    font-family: "MarkaziText-Bold";
    color: white;
    /* padding: 10px 0px; */
    border-radius: 15px 0 0 15px;
    border: 3px solid rgb(197, 164, 164);
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day-container p{
    margin: 0;
    margin-left: 10px;
    opacity: 0;
}

.slick-slide.slick-active.slick-current .day-container{
    animation-name: show-date-on-map;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes show-date-on-map {
    from{
        width: 0px;
    }
    to{
        width: 400px;
    }
}

.slick-slide.slick-active.slick-current .day-container p{
    animation-name: show-date-p;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}
@keyframes show-date-p{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.slick-slide.slick-active.slick-current .ms{
    position: absolute;
    top: 22px;
    left: 0%;
    display: flex;
    width: 74%;
    justify-content: center;
    /* justify-content: space-between; */
    color: #fff;
    font-size: 2rem;
    opacity: 0;

    animation-name: region-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.ms > div
{
    width: 47%;
    display: flex;
    /* justify-content: space-between; */
}

.ms > div > div
{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}

.ms > div img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-left: 10px;
}


.slick-slide.slick-active.slick-current .rs{
    position: absolute;
    top: 50%;
    right:16%;
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: center;
    /* justify-content: space-between; */
    color: #fff;
    font-size: 2rem;
    text-align: center;
    opacity: 0;

    animation-name: region-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.rs > div
{
    width: 47%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.rs .ms-wave-group{
    transform: translateX(110px);
}

.rs > div > div
{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}

.rs > div img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-left: 10px;
}


/* --------- regions ---------- */

.slick-slide.slick-active.slick-current .region {
    position: absolute;
    /* width: 280px; */
    height: 110px;
    /* border: 1px solid #000; */
    opacity: 0;
    transform: scale(0);

    animation-name: region-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.slick-slide.slick-active.slick-current .region-one{
    top: 19%;
    left: 43%;
}
.slick-slide.slick-active.slick-current .region-two{
    top: 11%;
    left: 24%;
}
.slick-slide.slick-active.slick-current .region-three{
    top: 11%;
    right: 26%;
}
.region-four{
    top: 35%;
    right: 25%;
}
.region-five{
    top: 45%;
    right: 46%;
}
.region-six{
    top: 70%;
    right: 35%;
}

/* Regions-animations */
@keyframes region-anim{
    0%{
        opacity: 0;
        transform: scale(0);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.region-weather{
    width: 280px;
    height: 100px;
    display: flex !important;
    justify-content: space-between;
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-color: #444;
    position: relative;
}

.region-name{
    width: 280px;
    background-color: rgb(217, 217, 217) !important;
    text-align: center;
    color: blue;
    /* font-family: "Almarai-Bold"; */
    padding: 3px 0;
    font-size: 1.4rem;
    border-bottom: 1px solid #444;
    

}
.region-temp{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: azure;
}

.region-weather img{
    width: 100px !important;
    height: 100px !important;
    /* object-fit: cover; */
}

.region-weather .rain-percentage {
    font-size: 1.8rem;
    color: #FDD807;
    position: absolute;
    right: 0;
    top: 0;
}

.region-temp .maxTemp, .region-temp .minTemp{
    width: 100%;
    height: 50%;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: red;
}

.region-temp .minTemp{
    color: blue;
}

.region-temp .divider{
 width: 100%;
 height: 3px;
 /* background-color: rgba(0, 0, 0, 0.9); */
 background-color: #444;
}


@media only screen and (max-width: 600px) {
    .day-container{
        top: 5px; 
        font-size: 1rem;
        height: 33px;
        border-radius: 5px 0 0 5px;
        border: 2px solid rgb(197, 164, 164);
    }
    
    .day-container p{
        margin: 0;
        margin-left: 10px;
        opacity: 0;
    }

    @keyframes show-date-on-map {
        from{
            width: 0px;
        }
        to{
            width: 150px;
        }
    }

    .ms{
        position: absolute;
        top: 0;
        left: 20%;
        width: 200px;
        color: white;
        /* transform: rotateX(90deg); */
    }
    .ms img{
        width: 35px !important;
        height: 35px !important;
        /* transform: rotateY(90deg); */
    }

    .region {
        width: 100px;
        height: 50px;
        /* border: 1px solid #000; */
    }

    .region-one{
        top: 19%;
        left: 36%;
    }
    .region-two{
        top: 12%;
        left: 10%;
    }
    .region-three{
        top: 12%;
        right: 15%;
    }
    .region-four{
        top: 35%;
        right: 15%;
    }
    .region-five{
        top: 45%;
        right: 38%;
    }
    .region-six{
        top: 72%;
        right: 26%;
    }

    .region-weather{
        width: 85px;
        height: 35px;
    }
    
    .region-name{
        width: 85px;
        padding: 2px 0;
        font-size: 0.43rem;
        
    
    }
    
    .region-weather img{
        width: 35px !important;
        height: 35px !important;
        /* object-fit: cover; */
    }

    .region-weather .rain-percentage {
        font-size: 0.8rem;
        right: 2px;
    }
    
    .region-temp .maxTemp, .region-temp .minTemp{
        font-size: 0.7rem;
    }
    
    .region-temp .divider{
     height: 1px;
    }
    
}


/* =========================tool tip ================ */
.custom-tooltip {
    position: relative;
    display: inline-block;
  }
  
  .custom-tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 50%;
    margin-left: -60px;
  }
  
  .custom-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .custom-tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /* =============================text=================== */


/* ===============next-prev Arrows===== */

.docComponent-container .arrow-controller{ 
    text-align: center; 
    position: absolute; 
    left: 28%;
    bottom: 0px;
    transform: translateX(-50%);
    display: flex; 
    align-items:  center; 
    flex-direction:  row;
    z-index: 20000;  
}


