.docComponent-container{
    background-image: url('../../images/bg/diamond-sunset.svg');
    background-size: cover;
    position: relative;
    direction: rtl !important;
}
.slick-slider, .slick-list{
    width: 100%;
    height: 100%;
}

.slick-track{
    height: 100% !important;
}

.slick-slide > div {
    height: 100%;
    width: 100%;
}

.outer-doc-container{
    width: 100%;
    height: 100%;
    /* background-color: #f8edd5; */
    direction: rtl !important;
    
}
.inner-doc-container{
    width: 100%;
    height: 100%;
    background-color: #f8edd5;
}

.egy-map-container{
    width: 70% !important;
    height: 90% !important;
    position: relative;
}
.egy-map-container img{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

/* =========================== regions ============== */

.region {
    position: absolute;
    width: 200px;
    height: 100px;
    /* border: 1px solid #000; */
}

.region-one{
    top: 170px;
    left: 550px;
}
.region-two{
    top: 100px;
    left: 150px;
}
.region-three{
    top: 90px;
    right: 300px;
}
.region-four{
    top: 240px;
    right: 200px;
}
.region-five{
    top: 340px;
    right: 450px;
}
.region-six{
    top: 500px;
    right: 350px;
}

.region-weather{
    display: inline-flex !important;
}
.region-temp{
    width: 100px;
    height: 80px;
    display: flex;
    flex-direction: column;
    background-color: azure;
}

.region-temp .maxTemp, .region-temp .minTemp{
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: blue;
}

.region-temp .divider{
 width: 100%;
 height: 3px;
 background-color: rgba(0, 0, 0, 0.5);
}


/* =========================tool tip ================ */
.custom-tooltip {
    position: relative;
    display: inline-block;
  }
  
  .custom-tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 50%;
    margin-left: -60px;
  }
  
  .custom-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .custom-tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /* =============================text=================== */


/* ===============next-prev Arrows===== */

.docComponent-container .arrow-controller{ 
    text-align: center; 
    position: absolute; 
    bottom: 0; 
    left: 5.5%; 
    display: flex; 
    align-items:  center; 
    flex-direction:  row  
}

/* ============================doc-text-overlay=================== */
.doc-text-overlay{
    width: 70%;
    position: absolute;
    top: 10%;
    right: 4%;
    direction: rtl;
    /* border-bottom: 2px solid rgb(230, 230, 236); */
    color: rgb(230, 230, 236);
}
.doc-text-overlay .header{
    display: flex;
    align-items: center;
    color: #fff;
    /* position: absolute; */
    
}
.doc-text-overlay .header .title{
 background-color: blue;
 padding: 0 50px;
 height: 70px;
 line-height: 70px;
 font-size: 2.4rem;

}
.doc-text-overlay .header .sub-title{
 background-color: #444;
 padding: 0 30px;
 height: 50px;
 line-height: 50px;
 font-size: 2rem;

}


.doc-text-overlay .doc-text-body{
 background-color: rgba(0, 0, 255, 0.5);
 font-size: 1.8rem;
 list-style-type: none;
 padding: 40px;
 box-shadow: 5px 10px 15px inset rgb(230, 230, 236), -5px -10px 15px inset rgb(230, 230, 236);
}

.doc-text-overlay .doc-text-body li{
    border-bottom: 3px solid rgba(230, 230, 236, 0.5);
    margin-bottom: 30px;
}
.doc-text-overlay .doc-text-body li:last-child{
    border-bottom: none;
    margin-bottom: 0;
}


.animate-0{
    animation-name: animate;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
.animate-1{
    animation-name: animate;
    animation-duration: 3s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}
.animate-2{
    animation-name: animate;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}
.animate-3{
    animation-name: animate;
    animation-duration: 3s;
    animation-delay: 10.5s;
    animation-fill-mode: forwards;
}
.animate-4{
    animation-name: animate;
    animation-duration: 3s;
    animation-delay: 14s;
    animation-fill-mode: forwards;
}

@keyframes animate {
    from{
        transform: translateX(-300px);
        opacity: 0;

    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}